@import "tailwindcss";
@plugin "daisyui";

:root {
  --primary: #014038;
  --background: #014038;
  --foreground: #f7f7f7;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #f7f7f7;
    --foreground: #014038;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, sans-serif;
}

@tailwind utilities;

/* 
Scrollbar styles for modern browsers 
	scrollbar-color
	scrollbar-gutter
	scrollbar-width auto | thin | none
*/
* {
  scrollbar-width: auto;
  scrollbar-color: oklch(var(--s)) oklch(var(--p)) !important;
}

::-webkit-scrollbar-track {
  background: oklch(var(--p));
}

::-webkit-scrollbar-thumb {
  background-color: oklch(var(--s));
}
